<div class="container container-fluid" id="quick_tickets" ng-controller="quick_tickets">
	<div class="row">			
		<div class="col-xs-6">
			<div class="quick_tickets_box">
				<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active">
				    	<a href="#by_movie" aria-controls="by_movie" role="tab" data-toggle="tab">By movie</a>
				   	</li>
				    <li role="presentation">
				    	<a href="#by_cinemas" aria-controls="by_cinemas" role="tab" data-toggle="tab">By cinemas</a>
				    </li>
				</ul>
				<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="by_movie">
				    	<form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select movie</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
						<form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select cinemas</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
						<form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select sessions</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
						<div class="col-xs-12">
							<button type="button" class="btn btn-primary col-md-offset-3 col-xs-6">Book Tickets</button>
						</div>
				   	</div>
				    <div role="tabpanel" class="tab-pane" id="by_cinemas">
					    <form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select cinemas</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
				    	<form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select movie</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
						
						<form role="form">
						    <div class="form-group col-xs-12">
						      	<select class="form-control">
							        <option>select sessions</option>
							        <option>2</option>
							        <option>3</option>
							        <option>4</option>
						      	</select>
						    </div>
						</form>
						<div class="col-xs-12">
							<button type="button" class="btn btn-primary col-md-offset-3 col-xs-6">Book Tickets</button>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h2>Latest movies</h2>
			<div ng-repeat="list in result">
			    movies name = {{list.data.movies.year}}
			</div>
		</div>
	</div>
</div>
