@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
	margin-bottom:0px;
}

#select_location{
	border: none;
	background-color: transparent;
}

.btn.active, .btn:active{
	box-shadow:none;
}