@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.wrapper{
  background-color:#1D1D1D;
  min-height:800px;
}


.title{
	position: absolute;
    top: 16px;
    z-index: 1;
    margin: 0 45%;
    font-size:16px;
}

.nav{
	a{
		color:white;
		text-decoration:none;
		&:focus,&:hover{
			color:white;
			outline: none;
		}
		span{
			color:white;
		}
		.text{
			color:white;
			font-size:18px;
			font-family: inital;
		}
		
	}
}




.no-margin{
	margin:0;
}


.navbar{
	margin-bottom:0px;
}
.navbar-left{
	margin-left:-10px;
} 
.navbar-right {

}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    background-color: white;
    color:#333430;
    span{
    	color:#333430;
    }
    
}


.navbar-right.navbar-form{
	width:275px;
	.glyphicon-search{
		left:15px;
	}
	.form-control{
		width:100%;
	}
}



#select_location{
	border: none;
	background-color: transparent;
	font-family: initial;
	&:hover{
		color:white;
	}
}

.btn.active, .btn:active{
	box-shadow:none;
}



.has-feedback{
	.form-control {
	    padding-left: 35px;
	    padding-right: 10px;
	    z-index:0;
	}
	.form-control-feedback{
		left:0;
	} 
}

.forgot_password{
	margin-left:10px;
	margin-top:7px; 
}


.glyphicon{
	font-size: 18px;
	z-index:1;
}


.quick_tickets_box{
	width:300px;
	height:275px;
	margin-left:-10px;
	border:1px solid white;
	ul{
		padding-top: 10px;
    	padding-left: 10px;
	}
	#by_movie,#by_cinemas{
		padding-top: 20px;
	}
}
