@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$grey:#ccc;
$black:black;
$white:white;
$text_color:#E8003D;
$background_color:white;
$primary_background_color:#9CE5F2;

.wrapper{
  background-color:$background_color;
  min-height:800px;
}


.title{
	position: absolute;
    top: 16px;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-size:16px;
}
.primary_navbar{
	background-color: $primary_background_color;
}
.secondary_navbar{
	clear:both;
}

.nav{
	a{
		color:$white;
		text-decoration:none;
		&:focus,&:hover{
			color:$text_color;
			outline: none;
			span{
				color:$white;
			}
		}
		span{
			color:$text_color;
		}
		.text{
			color:$text_color;
			font-size:18px;
			font-family: inital;
		}
		
	}
}




.no-margin{
	margin:0;
}


.navbar{
	margin-bottom:0px;
}
.navbar-left{
	margin-left:-10px;
	li {
		a{
			&:hover{
				color:$white;
				background-color: $text_color; 
			}
		}
		a.active{
			border-left:1px solid $grey;
			border-right:1px solid $grey;
			border-top:1px solid $grey;
		}
	}
} 
.navbar-right {	
	li {
		a{
			height:55px;
			&:hover{
				color:$white;
				background-color: $text_color; 
			}
		}
	}
}

.navbar-right.navbar-form{
	width:274px;
	.glyphicon-search{
		left:15px;
	}
	.form-control{
		width:100%;
	}
}

.nav>li>a:focus{
	border-left:1px solid $grey;
	border-right:1px solid $grey;
	border-top:1px solid $grey;
	span{
		color:$black;
	}
}


#select_location{
	border: none;
	background-color: transparent;
	font-family: initial;
	&:hover{
		color:$text_color;
	}
}

.btn.active, .btn:active{
	box-shadow:none;
}



.has-feedback{
	.form-control {
	    padding-left: 35px;
	    padding-right: 10px;
	    z-index:0;
	}
	.form-control-feedback{
		left:0;
	} 
}

.forgot_password{
	margin-left:10px;
	margin-top:7px; 
}


.glyphicon{
	font-size: 18px;
	z-index:1;
}


.quick_tickets_box{
	width:300px;
	height:260px;
	margin-left:-10px;
	border-left:1px solid $grey;
	border-right:1px solid $grey;
	border-bottom:1px solid $grey;
	ul{
		padding-top: 10px;
    	padding-left: 10px;
    	li{
    		a{
    			color:$black; 
    		}
    	}
	}
	#by_movie,#by_cinemas{
		padding-top: 20px;
		
	}
}
